Tool-Create-RecordManager-C54-Webhook.json
{
  "name": "Tool-Create-RecordManager-C54-Webhook",
  "nodes": [
    {
      "parameters": {
        "type": "SHA256",
        "value": "={{ $json.content_to_hash }}",
        "dataPropertyName": "hash"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        3728,
        208
      ],
      "id": "cf55b43a-ee29-469f-aa37-2db743c430d9",
      "name": "Crypto"
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "post_id",
                "value": "={{ $('Loop Over Items').item.json.id }}"
              },
              {
                "name": "title",
                "value": "={{ $('Loop Over Items').item.json.slug }}"
              },
              {
                "name": "episode_no",
                "value": "={{ $('Extract-Episode').item.json.episode_no }}"
              },
              {
                "name": "latest_episode",
                "value": "={{ $('Loop Over Items').item.json.latest_episode }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        5312,
        624
      ],
      "id": "1c281710-175d-4e90-91bf-a2a8afadfb16",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 7000,
        "chunkOverlap": 550,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        5312,
        832
      ],
      "id": "f4d32bc8-519d-4669-9833-1863127b0916",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "empty",
                      "singleValue": true
                    },
                    "id": "abde8ff7-68e6-4223-9a81-31434d8d0a84"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "New"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ad89c29e-c331-4e3e-a22b-70561f2e03c3",
                    "leftValue": "={{ $('Crypto').item.json.hash }}",
                    "rightValue": "={{ $json.hash }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Duplicate"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8021347d-f5e4-4599-96e5-b17f8f3aed90",
                    "leftValue": "={{ $('Crypto').item.json.hash }}",
                    "rightValue": "={{ $json.hash }}",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Modified"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        4224,
        192
      ],
      "id": "c6251ebc-5380-4eed-bf9f-478ba2a67091",
      "name": "Switch"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "dev-c54",
          "mode": "list",
          "cachedResultName": "dev-c54"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        5280,
        160
      ],
      "id": "bc4ff0cf-abcd-4f74-ab5c-6bdf9ef0c5e4",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "jCHw9QXuUvq53BBW",
          "name": "PineconeApi account 4"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://members.collective54.com/wp-json/wp/v2/resources?resource_type=119&per_page=100",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        304,
        80
      ],
      "id": "1f7843c3-55f7-4e5c-aca1-54cdd107ef33",
      "name": "Get Data",
      "retryOnFail": false,
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2672,
        192
      ],
      "id": "6d336950-3f71-4f2b-bca2-0331b84b2abd",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "return items.map((item, index) => {\n  // 1. Get data from Loop Over Items\n  const loopItem = $item(index).$node[\"Remove-Latest-Episode(null)\"].json;\n\n  // 2. Get corresponding episode data\n  const extractItem = $item(index).$node[\"Extract-Episode\"].json;\n\n  // 3. Merge and conditionally add episode_number only if not null\n  const updatedJson = { ...loopItem };\n\n  if (extractItem.episode_number !== null && extractItem.episode_number !== undefined) {\n    updatedJson.episode_number = extractItem.episode_number;\n  }\n\n  return {\n    json: {\n      content_to_hash: JSON.stringify(updatedJson)\n    }\n  };\n});\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3504,
        208
      ],
      "id": "4e0ad0cf-a752-4aef-b8bc-32e25111a377",
      "name": "Convert json into string"
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {
          "dimensions": 1024
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        4960,
        640
      ],
      "id": "72cb7bf7-1272-4504-a71a-8d0b5d46ecc4",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "WYcFEAqXniSxcDES",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dev-c54-cxurs6y.svc.aped-4627-b74a.pinecone.io/vectors/delete",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Pinecone-API-Version",
              "value": "2025-04"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filter\": {\n    \"post_id\": {\n      \"$eq\": {{ $json.post_id }}\n    }\n  },\n  \"namespace\": \"__default__\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3168,
        656
      ],
      "id": "c78e3f68-95b0-4fe5-931e-9b59cb2086a1",
      "name": "Delete",
      "alwaysOutputData": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "QFCIPSrAoWnw8HWJ",
          "name": "Pinecone"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b17b2b73-e070-42f7-9140-479424384912",
              "name": "content",
              "value": "={{ $('Convert json into string').item.json.content_to_hash }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4928,
        176
      ],
      "id": "38467a66-ac89-4159-b509-ae0c554f9f53",
      "name": "Content"
    },
    {
      "parameters": {
        "content": "## Delete Records",
        "height": 1104,
        "width": 1460,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        704,
        0
      ],
      "typeVersion": 1,
      "id": "09fae6eb-36d6-4499-8195-66249a889f3e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Update Record",
        "height": 544,
        "width": 3528,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2160,
        560
      ],
      "typeVersion": 1,
      "id": "fb8b51dd-2d6f-4565-b06f-66987e8b9b2e",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Create Record",
        "height": 560,
        "width": 3528,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2160,
        0
      ],
      "typeVersion": 1,
      "id": "5981b0b7-d795-4b90-a571-bc02590cc14f",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Insert Data",
        "height": 1104,
        "width": 1052
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -336,
        0
      ],
      "typeVersion": 1,
      "id": "395c34c9-414f-4e0a-aff6-f5417ff26b7b",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Schema\n1. id\n2. created_at\n3. post_id\n4. hash",
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3664,
        32
      ],
      "typeVersion": 1,
      "id": "57041dbd-cbac-4f00-a664-bcb7fd80d45a",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "url": "https://members.collective54.com/wp-json/wp/v2/resources?resource_categories=910&per_page=100",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        384,
        416
      ],
      "id": "d99aace3-c9b4-43c4-a610-f50d7d7ad548",
      "name": "Get Data 2",
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Assumes 'items' is the merged output of both API responses\nconst ids = items.map(item => item.json.id);\n\n// Optional: Deduplicate\nconst uniqueIds = [...new Set(ids)];\n\nreturn [{ json: { ids: uniqueIds } }];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        208
      ],
      "id": "71960e7a-afa2-4a3d-bd65-f2a9c1883849",
      "name": "Extract API IDs"
    },
    {
      "parameters": {
        "jsCode": "// Get Supabase records from current input\nconst Records = $items('Get Records').map(item => item.json).filter(record => record && record.post_id !== undefined);\n\n// Get API IDs from another node\nconst apiIds = $items('Extract API IDs')[0].json.ids || [];\n\n// Filter records that are in Supabase but not in API\nconst deleted = Records.filter(record => !apiIds.includes(record.post_id));\n\n// Prepare final result as a single object\nreturn [\n  {\n    json: {\n      ids: deleted.map(r => r.post_id)\n    }\n  }\n];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1424,
        208
      ],
      "id": "d6560be6-2a8e-4ca2-acee-befb29adccf8",
      "name": "Find Deleted Records",
      "executeOnce": false
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1200,
        640
      ],
      "id": "6c844b88-60fd-4fe9-bdda-fb4db9c12c4f",
      "name": "Loop Deleted Records"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dev-c54-cxurs6y.svc.aped-4627-b74a.pinecone.io/vectors/delete",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Pinecone-API-Version",
              "value": "2025-04"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filter\": {\n    \"post_id\": {\n      \"$eq\": {{ $json.id }}\n    }\n  },\n  \"namespace\": \"__default__\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1504,
        656
      ],
      "id": "eedf498c-7e98-4f64-9b29-d0b4762bada3",
      "name": "Delete Records",
      "alwaysOutputData": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "QFCIPSrAoWnw8HWJ",
          "name": "Pinecone"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        576,
        304
      ],
      "id": "9f438a1e-4ae1-46b5-ad18-9100f2100f95",
      "name": "Merge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2efeb65d-93de-4350-8291-df8b6faf708c",
              "leftValue": "={{ $json.ids }}",
              "rightValue": "true",
              "operator": {
                "type": "array",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1616,
        208
      ],
      "id": "26f2abff-7719-41da-a871-e5e482be22b9",
      "name": "Found Delete Records"
    },
    {
      "parameters": {
        "jsCode": "return $items('Merge');\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2192,
        192
      ],
      "id": "7ff3ad6a-9522-417e-9be0-5b29cfde9009",
      "name": "Code"
    },
    {
      "parameters": {
        "jsCode": "const ids = $json.ids;\nreturn ids.map(id => ({\n  json: { id }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        640
      ],
      "id": "35ac26fb-b52f-447a-831d-a8bf107792a6",
      "name": "Split ids",
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "record_manager_agentc54_dev",
          "mode": "list",
          "cachedResultName": "record_manager_agentc54_dev"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1200,
        208
      ],
      "id": "9cbff0c6-dc78-4b1a-936e-c18d689f4881",
      "name": "Get Records",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "hm4814BC8qh3CJIz",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "table": {
          "__rl": true,
          "value": "record_manager_agentc54_dev",
          "mode": "list",
          "cachedResultName": "record_manager_agentc54_dev"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "post_id",
              "value": "={{ $('Loop Deleted Records').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1760,
        656
      ],
      "id": "8e66ebec-8243-41e8-970c-f71b9801a96a",
      "name": "Delete Record",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "hm4814BC8qh3CJIz",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "record_manager_agentc54_dev",
          "mode": "list",
          "cachedResultName": "record_manager_agentc54_dev"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "post_id",
              "value": "={{ $('Loop Over Items').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        3952,
        208
      ],
      "id": "629edf0e-757a-40b2-b4a0-26b76fcf7597",
      "name": "record manager",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "hm4814BC8qh3CJIz",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "record_manager_agentc54_dev",
          "mode": "list",
          "cachedResultName": "record_manager_agentc54_dev"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "post_id",
              "value": "={{ $('Loop Over Items').item.json.id }}"
            },
            {
              "column": "hash",
              "value": "={{ $('Crypto').item.json.hash }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        4544,
        176
      ],
      "id": "5a2fecb3-0de1-4b2f-8320-0289d3534ea6",
      "name": "Create Record",
      "credentials": {
        "mySql": {
          "id": "hm4814BC8qh3CJIz",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "record_manager_agentc54_dev",
          "mode": "list",
          "cachedResultName": "record_manager_agentc54_dev"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "post_id",
        "valueToMatchOn": "={{ $('Switch').item.json.post_id }}",
        "valuesToSend": {
          "values": [
            {
              "column": "hash",
              "value": "={{ $('Crypto').item.json.hash }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        3392,
        656
      ],
      "id": "b230a363-dbf9-4438-a8d3-40cb8b131ecb",
      "name": "Update Record Manager",
      "credentials": {
        "mySql": {
          "id": "hm4814BC8qh3CJIz",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://dev-c54-cxurs6y.svc.aped-4627-b74a.pinecone.io/namespaces",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Pinecone-API-Version",
              "value": "2025-04"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2816,
        1600
      ],
      "id": "4b163258-c8d5-48c8-9cdc-6269e1dd0d7f",
      "name": "HTTP Request1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "QFCIPSrAoWnw8HWJ",
          "name": "Pinecone"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\n\nreturn items.map(item => {\n  let data = { ...item.json };\n\n  // Remove latest_episode if it's null\n  if (data.hasOwnProperty(\"latest_episode\") && data.latest_episode === null) {\n    delete data.latest_episode;\n  }\n\n  return { json: data };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2944,
        208
      ],
      "id": "1c5d46c3-8547-4270-85a7-dec155a1b7cb",
      "name": "Remove-Latest-Episode(null)"
    },
    {
      "parameters": {
        "jsCode": "const item = $node['Loop Over Items'].json;\n\n// Extract episode number from \"link\"\nlet episodeNumber = null;\nif (item.link) {\n  const match = item.link.match(/episode-(\\d+)/i);\n  if (match) {\n    episodeNumber = parseInt(match[1], 10);\n  }\n}\n\n\nreturn [\n  {\n    episode_no: episodeNumber\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3232,
        208
      ],
      "id": "89c199ea-3272-43df-97f2-e547c153538e",
      "name": "Extract-Episode"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        608,
        1616
      ],
      "id": "0e09b76b-6ccc-49e1-b29d-76e18865e6cb",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "formTitle": "Book Upsertion",
        "formFields": {
          "values": [
            {
              "fieldLabel": "data",
              "fieldType": "file",
              "multipleFiles": false,
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        352,
        1616
      ],
      "id": "10dc709d-16d1-4b8d-b4dc-44706e28988b",
      "name": "On form submission",
      "webhookId": "f28881fd-18bf-4724-ab39-e3f4f2e34c9b"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "dev-c54",
          "mode": "list",
          "cachedResultName": "dev-c54"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        928,
        1616
      ],
      "id": "669411ac-0a25-4281-a4b6-300f5912129c",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "jCHw9QXuUvq53BBW",
          "name": "PineconeApi account 4"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {
          "dimensions": 1024
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        832,
        1920
      ],
      "id": "e5ed0f6b-e62f-4d03-ae5b-fb639c30049b",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "WYcFEAqXniSxcDES",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "source",
                "value": "How to Adopt AI in Professional services Companies"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1072,
        1824
      ],
      "id": "6223acdf-6b99-4e32-925f-e4b8985a9868",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "chunkSize": 7000,
        "chunkOverlap": 550,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1168,
        2032
      ],
      "id": "d5740239-ae90-45b2-b018-47fc2f9c181f",
      "name": "Recursive Character Text Splitter1"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "https://dev-c54-cxurs6y.svc.aped-4627-b74a.pinecone.io/namespaces/__default__",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Pinecone-Api-Version",
              "value": "2025-10"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2160,
        1600
      ],
      "id": "245660c7-843a-4fd3-a204-31a745c2025f",
      "name": "Delete-Namespace",
      "credentials": {
        "httpHeaderAuth": {
          "id": "QFCIPSrAoWnw8HWJ",
          "name": "Pinecone"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "USE UpsertDB;\nDELETE FROM record_manager_agentc54_dev;\n\n\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        2528,
        1600
      ],
      "id": "20d08d64-14bc-4b07-9d90-924a650a098f",
      "name": "Delete-Rows",
      "credentials": {
        "mySql": {
          "id": "hm4814BC8qh3CJIz",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Book Upsertion in Database",
        "height": 864,
        "width": 1744,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        16,
        1408
      ],
      "typeVersion": 1,
      "id": "5ad73f5c-464e-49b2-9760-3ccad6c8c979",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "path": "22a47aaa-9fb7-4e54-a0d6-eba97485ca3c",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -288,
        304
      ],
      "id": "f151a673-7a7a-4d7c-8c57-a8f871c3dace",
      "name": "Webhook",
      "webhookId": "22a47aaa-9fb7-4e54-a0d6-eba97485ca3c"
    },
    {
      "parameters": {
        "jsCode": "return {\n  propertyId: 188375,\n  serviceId: $workflow.id,\n  serviceName: \"Tool-Record-Manager-C54\",\n  executionDatetime: new Date().getTime(),\n  executionId: $execution.id,\n  executionState: \"Start\",\n  data: JSON.stringify({\n  type: \"Request\",\n  content: $input.first().json.body\n}),\n\n  metadata: $execution.customData,\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        304
      ],
      "id": "63ad5027-7993-41e3-ab24-e71629931ca4",
      "name": "Prepare payload for TOOL-LogEvent"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://admin.n8n.c1m.ai/webhook/7fd5766d-c2de-47c5-8e5a-df80535a7ad3",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "data",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        160,
        304
      ],
      "id": "cae5c5ee-aa80-416f-b964-9a8dbeebd074",
      "name": "Invoke TOOL-LogEvent",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "return {\n  propertyId: 188375,\n  serviceId: $workflow.id,\n  serviceName: \"Tool-Record-Manager-C54\",\n  executionDatetime: new Date().getTime(),\n  executionId: $execution.id,\n  executionState: \"Complete\",\n  data: JSON.stringify({\n    type: \"Complete\",\n    content: \"Agent-C54 was completed.\"\n  }),\n  metadata: $execution.customData,\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2944,
        48
      ],
      "id": "ebb06f3a-5fc1-4b90-96fb-b5a18522eceb",
      "name": "Prepare payload for TOOL-LogEvent1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://admin.n8n.c1m.ai/webhook/7fd5766d-c2de-47c5-8e5a-df80535a7ad3",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "data",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3216,
        48
      ],
      "id": "491a0bc3-976b-4d31-99b4-1cdef451301d",
      "name": "Invoke TOOL-LogEvent1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "return {\n  message: $input.first().json.error?.message,\n  errorName: $input.first().json.error?.name,\n  status: $input.first().json.error?.status,\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -96,
        736
      ],
      "id": "edb99c08-1dcf-4198-827b-6fa4e051213f",
      "name": "Creates error response."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://admin.n8n.c1m.ai/webhook/7fd5766d-c2de-47c5-8e5a-df80535a7ad3",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "data",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        288,
        736
      ],
      "id": "981dbf47-5ed5-404c-ac8c-660f195ddd9c",
      "name": "Invoke TOOL-LogEvent2",
      "notesInFlow": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "return {\n  propertyId: 188375,\n  serviceId: $workflow.id,\n  serviceName: \"Tool-Record-Manager-C54\",\n  executionDatetime: new Date().getTime(),\n  executionId: $execution.id,\n  executionState: \"Error\",\n  data: JSON.stringify({\n    type: \"Error while getting data of collective54\",\n    content: `Error while invoke : ${JSON.stringify($input.all().map(item => item.json))}`\n  }),\n  metadata: $execution.customData,\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        736
      ],
      "id": "9cc66f64-e3d1-4bc5-aa0f-e30e1a460b80",
      "name": "Prepare payload for TOOL-LogEvent2",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "return {\n  message: $input.first().json.error?.message,\n  errorName: $input.first().json.error?.name,\n  status: $input.first().json.error?.status,\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -112,
        928
      ],
      "id": "bac6177f-d8d1-44e9-bff4-c87588b2772a",
      "name": "Creates error response.1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://admin.n8n.c1m.ai/webhook/7fd5766d-c2de-47c5-8e5a-df80535a7ad3",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "data",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        304,
        928
      ],
      "id": "edd1a09a-5dcf-4749-8ece-63f161869625",
      "name": "Invoke TOOL-LogEvent3",
      "notesInFlow": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "return {\n  propertyId: 188375,\n  serviceId: $workflow.id,\n  serviceName: \"Tool-Record-Manager-C54\",\n  executionDatetime: new Date().getTime(),\n  executionId: $execution.id,\n  executionState: \"Error\",\n  data: JSON.stringify({\n    type: \"Error while getting data of collective54\",\n    content: `Error while invoke : ${JSON.stringify($input.all().map(item => item.json))}`\n  }),\n  metadata: $execution.customData,\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        928
      ],
      "id": "0dd33741-c922-44b3-b4c7-0f817d0fe4be",
      "name": "Prepare payload for TOOL-LogEvent3",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "return {\n  message: $input.first().json.error?.message,\n  errorName: $input.first().json.error?.name,\n  status: $input.first().json.error?.status,\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        896
      ],
      "id": "ec463963-4147-4f52-a751-50a35323bc1b",
      "name": "Creates error response.2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://admin.n8n.c1m.ai/webhook/7fd5766d-c2de-47c5-8e5a-df80535a7ad3",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "data",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1728,
        896
      ],
      "id": "f4839d9c-233d-421a-8947-876987671313",
      "name": "Invoke TOOL-LogEvent4",
      "notesInFlow": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "return {\n  propertyId: 188375,\n  serviceId: $workflow.id,\n  serviceName: \"Tool-Record-Manager-C54\",\n  executionDatetime: new Date().getTime(),\n  executionId: $execution.id,\n  executionState: \"Error\",\n  data: JSON.stringify({\n    type: \"Error while deleting vectors from pinecone\",\n    content: `Error while invoke : ${JSON.stringify($input.all().map(item => item.json))}`\n  }),\n  metadata: $execution.customData,\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        896
      ],
      "id": "a357dc0e-068b-4269-9b02-f2062524a876",
      "name": "Prepare payload for TOOL-LogEvent4",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "return {\n  message: $input.first().json.error?.message,\n  errorName: $input.first().json.error?.name,\n  status: $input.first().json.error?.status,\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3216,
        896
      ],
      "id": "ab3302e9-9981-4e75-b837-71e218e0902b",
      "name": "Creates error response.3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://admin.n8n.c1m.ai/webhook/7fd5766d-c2de-47c5-8e5a-df80535a7ad3",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "data",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3696,
        896
      ],
      "id": "c67ed758-92b5-4dee-ab1a-01db4f12346c",
      "name": "Invoke TOOL-LogEvent5",
      "notesInFlow": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "return {\n  propertyId: 188375,\n  serviceId: $workflow.id,\n  serviceName: \"Tool-Record-Manager-C54\",\n  executionDatetime: new Date().getTime(),\n  executionId: $execution.id,\n  executionState: \"Error\",\n  data: JSON.stringify({\n    type: \"Error while deleting vectors from pinecone\",\n    content: `Error while invoke : ${JSON.stringify($input.all().map(item => item.json))}`\n  }),\n  metadata: $execution.customData,\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3424,
        896
      ],
      "id": "60c1eca2-1908-4379-824d-29afa94d4a6f",
      "name": "Prepare payload for TOOL-LogEvent5",
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "connection": "upgrade",
            "host": "n8n.c1m.ai",
            "x-real-ip": "101.53.238.243",
            "x-forwarded-for": "101.53.238.243",
            "x-forwarded-proto": "https",
            "user-agent": "PostmanRuntime/7.49.0",
            "accept": "*/*",
            "postman-token": "f68fe671-5cbe-407b-afb9-831d3fa393bb",
            "accept-encoding": "gzip, deflate, br"
          },
          "params": {},
          "query": {},
          "body": {},
          "webhookUrl": "https://n8n.c1m.ai/webhook-test/22a47aaa-9fb7-4e54-a0d6-eba97485ca3c",
          "executionMode": "test"
        }
      }
    ]
  },
  "connections": {
    "Crypto": {
      "main": [
        [
          {
            "node": "record manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Create Record",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Creates error response.1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Prepare payload for TOOL-LogEvent1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Remove-Latest-Episode(null)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert json into string": {
      "main": [
        [
          {
            "node": "Crypto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Delete": {
      "main": [
        [
          {
            "node": "Update Record Manager",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Creates error response.3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data 2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Creates error response.",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract API IDs": {
      "main": [
        [
          {
            "node": "Get Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Deleted Records": {
      "main": [
        [
          {
            "node": "Found Delete Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Deleted Records": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Records": {
      "main": [
        [
          {
            "node": "Delete Record",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Creates error response.2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Extract API IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Found Delete Records": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split ids",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split ids": {
      "main": [
        [
          {
            "node": "Loop Deleted Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Records": {
      "main": [
        [
          {
            "node": "Find Deleted Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Record": {
      "main": [
        [
          {
            "node": "Loop Deleted Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "record manager": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Record": {
      "main": [
        [
          {
            "node": "Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Record Manager": {
      "main": [
        [
          {
            "node": "Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove-Latest-Episode(null)": {
      "main": [
        [
          {
            "node": "Extract-Episode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract-Episode": {
      "main": [
        [
          {
            "node": "Convert json into string",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Delete-Namespace": {
      "main": [
        []
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare payload for TOOL-LogEvent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare payload for TOOL-LogEvent": {
      "main": [
        [
          {
            "node": "Invoke TOOL-LogEvent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invoke TOOL-LogEvent": {
      "main": [
        [
          {
            "node": "Get Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Data 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare payload for TOOL-LogEvent1": {
      "main": [
        [
          {
            "node": "Invoke TOOL-LogEvent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invoke TOOL-LogEvent1": {
      "main": [
        []
      ]
    },
    "Creates error response.": {
      "main": [
        [
          {
            "node": "Prepare payload for TOOL-LogEvent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invoke TOOL-LogEvent2": {
      "main": [
        []
      ]
    },
    "Prepare payload for TOOL-LogEvent2": {
      "main": [
        [
          {
            "node": "Invoke TOOL-LogEvent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Creates error response.1": {
      "main": [
        [
          {
            "node": "Prepare payload for TOOL-LogEvent3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invoke TOOL-LogEvent3": {
      "main": [
        []
      ]
    },
    "Prepare payload for TOOL-LogEvent3": {
      "main": [
        [
          {
            "node": "Invoke TOOL-LogEvent3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Creates error response.2": {
      "main": [
        [
          {
            "node": "Prepare payload for TOOL-LogEvent4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invoke TOOL-LogEvent4": {
      "main": [
        []
      ]
    },
    "Prepare payload for TOOL-LogEvent4": {
      "main": [
        [
          {
            "node": "Invoke TOOL-LogEvent4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invoke TOOL-LogEvent5": {
      "main": [
        []
      ]
    },
    "Creates error response.3": {
      "main": [
        [
          {
            "node": "Prepare payload for TOOL-LogEvent5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare payload for TOOL-LogEvent5": {
      "main": [
        [
          {
            "node": "Invoke TOOL-LogEvent5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "014225ce-5187-49e2-8664-bed46e92faf7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cdb933c56d4d2fd569a441b2b7966e0e27d761306d8926e1440759978db55554"
  },
  "id": "kQyxtTV9lV8oCVLS",
  "tags": []
}